<header class="header-main">
	<h1 class="header-main-text">
		Freshmonk
	</h1>
	<nav class="header-nav">
		<ul class="nav-list">
			<li class="nav-list-item">
				<a href="">Shop</a>
			</li>
			<li class="nav-list-item">
				<a href="">About</a>
			</li>
			<li class="nav-list-item">
				<a href="">Contact</a>
			</li>
		</ul>
	</nav>
</header>